html {
	padding: 0;
	margin: 0;
	width: 1920px;
	font-family: sans-serif;
}
body {
	padding: 0;
	margin: 0;
	background-image: url(images/header-backgroudn.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
header {
	width: 1168px; 
	margin: 0 auto;
	color: white;

}
.logo {

	height: 200px;
	float: left;
	font-size: 3rem;
	margin: 20px;
	position: relative;

}
nav {
	float: right;
	color: white;
	margin: 20px;
	position: fixed;
	right: 0;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
	margin-left: 25px;
}
.general {
	clear: both;
	color: white;
	width: 1168px; 
	margin: 0 auto;
	padding-bottom: 250px;
}
.general h1 {
	font-size: 4rem;
	text-align: center;
	width: 90%;
	margin: 0 auto;
}
.general p {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 50px;
}
button {
	display: block;
	width: 150px;
	height: 55px;
	background-color: red;
	border-style: none;
	margin: 0 auto;
	color: white;
}
.content {
	width: 1168px; 
	margin: 0 auto;
}
.content-unit {
	width: 389px;
	height: 350px;
	float: left;
	background-image: url(images/icon1.png);
	background-repeat: no-repeat;
	background-position: top center;
	box-sizing: border-box;
	padding: 20px;
	
	
}
.content-unit h2{
	text-align: center;
	padding-top: 40px;

}
.content-unit p{
    text-align: center;
    color: gray;
}
.gallery {
	clear: both;

}
.gallery-unit {
	background-image: url(images/photo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 25%;
	float: left;
	height: 300px;
	border: 1px solid white;
	box-sizing: border-box;

}
footer {
	width: 1920px; 
	margin: 0 auto;
	background-color: #3a3e64;
}
.about {
	clear: both;
	
	width: 1168px; 
	margin: 0 auto;
}
.about-unit {
	display: inline-block;
	text-align: center;
	padding: 10px;
	width: 350px;
	box-sizing: border-box;
	color: white;
	vertical-align: top;
}
address {
	font-style: inherit;
}
.about-unit p {
	color: white;
	opacity: 0.5;
}
.about-unit:first-child {
	margin-left: 50px;
}
.about-unit:last-child {
	margin-right: 50px;
}
.copyright {
	text-align: center;
	color: white;
	opacity: 0.5;
	padding: 10px;
	background-color: #313454;
}